html ,body	{
	font-family: Noto Sans CJK TC Reguler;
	background-color: #000000;
	z-index: 0;
	margin: 0;
	padding: 0;
	border: none;
	height: 100%;
}
header	{
	color: #ffffff;
	font-family: Noto Sans;
	font-size: 30px;
	position: absolute;
	width: 100%;
	height: 5%;
	text-align: center;
	z-index: 2;
	background-color: #000000;
	opacity: 0.5;
	line-height: 100%;
	display: inline-flex;
	justify-content: space-between;
}
#map 	{
	min-height: 100%;
	height: 100%;
	width: 100%;
	position: absolute;
	margin: 0 auto;
	z-index: 1;
	padding: 0;
	border: none;
}
div	{
	font-family: Noto Sans, Open Sans;
}
#area1	{
	display: inline-flex;
	margin-top: 5%;
}
#circle	{
	height: 300px;
	width: 300px;
	background-color: #ffc400;
	border-radius: 99em;
	text-align: center;
	line-height: 300px;
	font-size: 50px;
	color: #FFFFFF;
	z-index: 2;
}
#content2	{
	height: 10%;
	width: 30%;
	background-color: #000000;
	margin-top: 5%;
	color: #FFFFFF;
	text-align: center;
	z-index: 2;
}